
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #001F3F;
}
header {
    background-color: #001F3F;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.logo {
    height: 110px;
}
footer {
    background-color: #001F3F;
    color: white;
    text-align: center;
    padding: 1em 0;
}
